<title>AngularCours</title>
<h1>Decouverte de Angular</h1>
<!-- <app-first-component></app-first-component>
<app-liste></app-liste>
<app-user></app-user>
<app-alert-button></app-alert-button> -->
<!-- <app-magie></app-magie> -->
<!-- <app-liste-filtre></app-liste-filtre> -->
<!-- <app-show-date></app-show-date> -->
<!-- <app-user-card></app-user-card> -->
<!-- <app-generic-alert-button alertMessage="Pong" buttonTitle="Ping"></app-generic-alert-button>
<app-generic-alert-button alertMessage="Polo" buttonTitle="Marco"></app-generic-alert-button>
<app-generic-alert-button alertMessage="Un pour tuche" buttonTitle="Tuche pour un"></app-generic-alert-button> -->
<app-button-menu></app-button-menu>
<router-outlet />
